<div class="events-tab tabs-main">
		<div class="col-md-12 add-events cat-event">
		    <form name="myForm">
				<uib-accordion close-others="oneAtATime">
				  <uib-tabset justified="true" class="event-tabs">
				    <uib-tab heading="General" class="tabs">
						<div class="col-md-5">
					   		<div class="event-box row">
								<div class="select-form">
								    <label class="label-form" for="item_name">Cod licenta:</label>
								    <input type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required/>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Organizatie:</label>
								    <input type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required/>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Nume utilizator:</label>
								    <input type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required/>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Nume:</label>
								    <input type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required/>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Prenume:</label>
								    <input type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required/>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Data nasterii:</label>
						              <input type="text" class="form-control date-select" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
						              <span class="input-group-btn">
						                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Gen:</label>
								    <select type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required></select>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
								<div class="select-form">
								    <label class="label-form" for="item_name">Rol:</label>
								   <select type="text" ng-model="itemObj.denumire" class="form-control" id="item_denumire" required></select>
								    <div class="input-help">
								      <h4>Adauga o denumire</h4>
								    </div>
							    </div>
					   		</div>
					   	</div>
					</uib-tab>
					<uib-tab heading="Permisiuni" class="tabs">
					   	<div class="col-md-12">
					   		<div class="event-box row">
					   			<div class="check-form">
								   	<label class="checkbox">
								        <input type="checkbox" id="info_anim" ng-model="itemObj.info_anim" required>
								        Acces din aplicatia web
						      		</label>
								   	<label class="checkbox">
								        <input type="checkbox" id="ecologic" ng-model="itemObj.ecologic" required>
								        Acces din aplicatia mobila
						      		</label>
							    </div>
						      	<p class="titleP">Permisiuni arii protejate:</p>
						      	<table class="table">
						    	  <thead>
							    		<tr>
							    			<td>
							    				Rol
							    			</td>
							    			<td>
							    				Vizualizare
							    			</td>
							    			<td>
							    				Inregistrare
							    			</td>
							    		</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
							    			<td></td>
							    			<td></td>
							    			<td></td>
						    			</tr>
						    		</tbody>
						    	</table>
					    	</div>
					   	</div>
					</uib-tab>
				  </uib-tabset>
				</uib-accordion>
			</form>
		</div>
	<div class="col-md-12">
		<div class="button-box">
			<button class="btn btn-default" ng-click="sendPost(itemObj)" ng-disabled="myForm.$invalid">OK</button>
			<button class="btn btn-default" ng-click="clearSearch(itemObj)">Renunta</button>
		</div>
	</div>
</div>