<div class="col-md-12">
	<div class="search-box">
		<div class="tableDiv">
			<table class="table">
				<thead>
					<tr>
						<th>Denumire</tr>
					</tr>
				</thead>
		       	<tbody>
					<tr>
						<td> 
							<a href="#/indicatori-performanta-categorii-evenimente" class="raport-button" >
								<i class="fa fa-file-text-o"></i>
								Indicatori de performanta - Categorii de evenimente
							</a>
						</td>
					</tr>
					<tr>
						<td> 
							<a href="#/trasee" class="raport-button" >
								<i class="fa fa-file-text-o"></i>
								Indicatori de performanta - Trasee
							</a>
						</td>
					</tr>
					<tr>
						<td> 
							<a href="#/evenimente-dupa-legislatie" class="raport-button" >
								<i class="fa fa-file-text-o"></i>
								Evenimente dupa legislatie/reglementare
							</a>
						</td>
					</tr>
					<tr>
						<td> 
							<a href="#/detalii-eveniment" class="raport-button" >
								<i class="fa fa-file-text-o"></i>
								Detalii eveniment
							</a>
						</td>
					</tr>
					<tr>
						<td> 
							<a href="#/detalii-coridor-ecologic" class="raport-button" >
								<i class="fa fa-file-text-o"></i>
								Detalii coridor ecologic
							</a>
						</td>
					</tr>
				</tbody>
	        </table>
        </div>
	</div>
</div>
