<div class="add-element">
	<div class="col-md-12">
		<div class="col-md-12 search-box">
			<form name="myForm">
				<div class="col-md-6">
					<div class="select-form">
					    <label class="label-form" for="mySelect">Denumire:</label>
					    <input class="form-control" ng-model="itemObj.name" required/>
					    <div class="input-help">
					    <!-- <h4>Adauga denumire</h4> -->
					    </div>
				    </div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-12">
		<div class="button-box">
			<button class="btn btn-default" ng-click="sendPost(itemObj)" ng-disabled="myForm.$invalid">OK</button>
			<button class="btn btn-default" ng-click="main.go({url:'administrare'})">Renunta</button>
		</div>
	</div>
</div>